<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527803327047-n2rp4gcjj3p5jghlfsba3ndl852dek1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527803327047-n2rp4gcjj3p5jghlfsba3ndl852dek1j</string>
	<key>API_KEY</key>
	<string>AIzaSyDvfsHzKKdEt0cV1g7habkx7U0Vvv9utUI</string>
	<key>GCM_SENDER_ID</key>
	<string>527803327047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetodoapps</string>
	<key>PROJECT_ID</key>
	<string>fir-todoapps-e58d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todoapps-e58d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527803327047:ios:c6941055a14757cfd1c762</string>
</dict>
</plist>